version: "~> 1.0"
git:
  depth: 1
  quiet: true
language: java
jdk:
- openjdk17
branches:
  only:
  - develop
  - support/4.1.x
  - master
cache:
  directories:
  - "$HOME/.m2"
notifications:
  irc:
    channels:
    - chat.freenode.net#craftercms
    use_notice: true
    skip_join: true
  slack: craftersoftware:7YiSb41ZG5rfMgiAY7Qgprc7
before_install:
  - mkdir -p $HOME/.m2
  - cp .travis-settings.xml $HOME/.m2/settings.xml
install: skip
script:
- if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then bash -c  "mvn deploy --settings
  .travis-settings.xml";  fi
- if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then bash -c "mvn clean install" ;fi
env:
  global:
  - secure: hZgq4ILdxWM3NpqavPByRBZx2ozJB50LPWrHbBke1u66kbNB6a7satL8oKxiqsbtqD2CJv+nR9rqL0YLpyqQjl+vYvMVmjirFl3KtqajQhKjDlViJGd+mmkJgo4Z8MY2oZmLj7GmSDWo6RT1pPW11OGMW+1iEDQ58fqPgCyZ+2S1w6IFZFTu7QzDs9KtwfUIpVsrYSt0KiwAexQ8EYKAaF3RUpQO+yQvX5P2SK+7sEVZTH6Tqg92w1IRYTWTGMY/VPiHV0maio0vlZGY9AfRXRsNGjfjM6m2KVn9EeZRKPMwF90thetwdGJuwEXv9BriYkLQSOfRNhdy76SuZNQEj1NXygK9CHReOA1hsQtNk9po9HITudZQCPfZjpHxbOPLx2lYHseKPzky/rF91nRmIyiTRDQmkZIEVA2/Ru1j58s4qBYcAZlfItxM5huAHZAvifM+Mq8lokQ5IBD+MeR40W2oib26ZeG8jp8Hy/w+geDgrJyhGGHSA4865h46romwfFtkFCKP/KuGSRuQPuwvYBelZf6W2Ujbj+dZHP8M/UUig1HOViyvBkoWH3LoQ9C4YCEiTinjkuvIrkM0E1kqoFPmHjIU9uIsvkH7nzxcHyLsIzNLAIsSW/pljmrtbEJasSg/ySikvRZrVql4Fwa0H8BvnwWkNIFBMghxYeyYF9E=
  - secure: J2RQdQE/wRQCsh5ikGUrQHWriz9UguW7wrad70+5U80JGd2PCwwAWotgIQ95p8pLe/Kh+X+IBI7jBAgN49ZlfJ8L4LJi0smTdTfdoTR/D21qsv73JjykjaPM92JCR+UXu5lem+VTTR6s1gFvDpyDy0BlzlgaILXZ3Kgkky6+aoh6GH3GVf3kmHkrLLKjpEIhCDH6JRFmzbVakZOBJY4JMhtJtktVqaC0Y3TbawcIVLAxYZRmQ7CeQGgTUZE8XTaOaJZlTnlC3cgzuAm8AqDUP2WJaMUpf9dgiaNux6KpcGzPHkl0Pe4tC/9212zfQ59QQDJ3LMXyF/8W7rA9hDShaZpJO2u45e3Y3S5Ov+XBI6foddm9pqQ3Dxhm53r4oVvbHNbSg1JdlJwf2W8hd7kXXCtRBcXWLj+VvXXMaUXeKl5q3aKsybiplaWyzsE4TjpYbTwN7M2Z0+axIMit4QWciQHgxUV0nNJNeDFBTwZdZ/BD5yR4b0RL22B4snLPXw4xlPlHk8wnJ2PaJ55dL/YWKTS81Ek6GEE6PDUiBmZjlNrfB23ZiHcWtl3UaV/I52aN5Wd0LYm8rZyLg2r7oNQPoHVfwA/YsesZAwV43oDVYzIzVFPqoC+FNtV+ThhGmhUkqLtRo/VJYbN0BtqJISp5Q2CjXV1g8z98ut2WLfAy72M=
